@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(135deg, #FBFFFC, #ECF6EE);
}

/* Custom text gradient utility */
@layer utilities {
    .textGradient {
        background: -webkit-linear-gradient(#23482B, #7FB069);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .green {
        background-color: #7FB069;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .blackolive {
        background-color: #363C33;
        -webkit-background-clip: text;
    }
    .babypowder {
        background-color: #FBFFFC;
        -webkit-background-clip: text;
    }
}

.img-height {
    padding-bottom: 50px;
    padding-left: 15px;
}

/* For larger screens (desktops, large tablets) */
@media (min-width: 1024px) {
    .img-height {
        padding-bottom: 15px;
        padding-left: 15px;
    }
}

/* For medium-sized screens (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
    .img-height {
        padding-bottom: 15px;
        padding-left: 15px;
    }
}

/* For small screens (mobile devices) */
@media (max-width: 1202px) {
    .img-height {
        padding-bottom: 10px;
        padding-left: 10px;
    }
}